<h1>Eat Da Burger!!</h1>
<h2>Burgers</h2>


<ul>
    {{#each burgers}}
    <li>
        <span>{{burger_name}}</span>
        <button class="devour" data-id="{{id}}">DEVOUR</button>
    </li>
    {{/each}}
</ul>
<form>
  <textarea name="burger_name"></textarea>
  <button type="submit">Add Burger</button>
</form>

